<h1>Bienvenidos al Coderchat comunitario!</h1>
<div>
    Envio de mensajes con Websockets!
    <div>
        <p>
            Escibe un mensaje en nuestro chatbox: <input id="chatBox" type="text">
        </p>
    </div>
    <div>
        <p id="messageLog"/>
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/messages.js"></script>